<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Answer Option</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <h2>Add Answer Option for Question: </h2>
    <div>
        <form th:action="@{/quiz/{quizId}/questions/{questionId}/answers/add(quizId=${quizId}, questionId=${questionId})}" th:object="${newAnswerOption}" method="post">
            <label for="answerOptionBody">Answer Option</label>
            <input type="text" name="answerOptionBody" th:field="*{answerOptionBody}" />
            <label for="correct">Correct</label>
            <input type="checkbox" id="correct" th:field="*{correct}" /></br>
            <input type="submit" value="Add Answer Option" class="submit"/>
        </form>
        <p><a th:href="@{/quiz/{quizId}/questions(quizId=${quizId})}"><button class="controlls">Back to Questions</button></a></p>
    </div>
</body>
</html>