<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Quiz</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <h2>Add a quiz</h2>
    <div>
        <form th:object="${quiz}" th:action="@{/quiz}" method="post">
            <table>
                <tbody>
                    <tr>
                        <td><label for="name">Name</label></td>
                        <td><input type="text" id="name" th:field="*{name}" required /></td>
                    </tr>
                    <tr>
                        <td><label for="description">Description</label></td>
                        <td><textarea id="description" th:field="*{description}" rows="3" cols="50"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="published">Published</label></td>
                        <td><input type="checkbox" id="published" th:field="*{published}" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="questionList">
                                <label for="questionBody0">Question 1</label>
                                <input type="text" id="questionBody0" th:field="*{questions[0].questionBody}" />
                            </div>
                            <button type="button" onclick="addQuestion()" class="secondary">Add another
                                question</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Add" class="submit" /></td>
                        <td><input type="reset" value="Cancel" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <p><a th:href="@{/quiz}"><button class="secondary">Back to Quiz List</button></a></p>
    </div>

    <script>
        // logic to add more questions, number of questions starts at 1
        let questionCounter = 1;

        function addQuestion() {
            const questionList = document.getElementById('questionList');
            const newQuestion = document.createElement('div');
            newQuestion.innerHTML = `
                <label for="questionBody${questionCounter}">Question ${questionCounter + 1}</label>
                <input type="text" id="questionBody${questionCounter}" th:field="*{questions[${questionCounter}].questionBody}" />
            `;
            questionList.appendChild(newQuestion);
            questionCounter++;
        }
    </script>
</body>

</html>