<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Answer Options</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <h2>Answer Options for Question: <span th:text="${question.questionBody}"></span></h2>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Answer option text</th>
                    <th>Correct</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="answerOption : ${answerOptions}">
                    <td th:text="${answerOption.answerOptionBody}"></td>
                    <td th:text="${answerOption.correct ? 'Yes' : 'No'}"></td>
                    <td><a
                            th:href="@{/quiz/{quizId}/questions/{questionId}/answers/edit/{id}(quizId=${question.quiz.id}, questionId=${question.id}, id=${answerOption.id})}"><button>Edit</button></a>
                    </td>
                    <td>
                        <form
                            th:action="@{/quiz/{quizId}/questions/{questionId}/answers/delete/{id}(quizId=${question.quiz.id}, questionId=${question.id}, id=${answerOption.id})}"
                            method="post">
                            <button type="submit" class="warning">Delete</button>
                        </form>
                    </td>
                    <td><a
                            th:href="@{/quiz/{quizId}/questions/{questionId}/answers/{id}(quizId=${question.quiz.id}, questionId=${question.id}, id=${answerOption.id})}"><button
                                class="secondary">View</button></a></td>
                </tr>
            </tbody>
        </table>
        <p><a
                th:href="@{/quiz/{quizId}/questions/{questionId}/answers/add(quizId=${question.quiz.id}, questionId=${question.id})}"><button>Add
                    an answer option</button></a></p>
        <p><a th:href="@{/quiz/{quizId}/questions(quizId=${question.quiz.id})}"><button class="controlls">Back to
                    questions</button></a></p>
    </div>
</body>

</html>