<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Question</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <h2>Edit Question</h2>
    <div>
        <form th:action="@{/quiz/{quizId}/questions/edit/{id}(quizId=${question.quiz.id}, id=${question.id})}" th:object="${question}" method="post">
            <label for="questionBody">Question Body</label>
            <input type="text" id="questionBody" th:field="*{questionBody}" />
            <select id="difficultyLevel" th:field="*{difficultyLevel}">
                <option value="EASY">Easy</option>
                <option value="NORMAL">Normal</option>
                <option value="HARD">Hard</option>
            </select>
            <input type="submit" value="Save" class="submit"/>
        </form>
        <p><a th:href="@{/quiz/{quizId}/questions(quizId=${quiz.id})}"><button class="controlls">Back to Questions</button></a></p>
    </div>
</body>

</html>