<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Answer Option</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <h2>Edit Answer Option</h2>
    <div>
        <form th:action="@{/answerOption/edit/{id}(id=${answerOption.id})}" th:object="${answerOption}" method="post">
            <label for="answerOptionBody">Answer Option</label>
            <input type="text" name="answerOptionBody" th:field="*{answerOptionBody}" />
            <label for="correct">Correct</label>
            <input type="checkbox" id="correct" th:field="*{correct}" /></br>
            <input type="submit" value="Save" class="submit"/>
        </form>
        <p><a th:href="@{/quiz/{quizId}/questions/{questionId}/answers/{id}(quizId=${question.quiz.id}, questionId=${question.id}, id=${answerOption.id})}"><button class="controlls">Back to Answer Options</button></a></p>
    </div>
</body>

</html>