<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Answer Option</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <h2>Edit Answer Option</h2>
    <div>
        <form th:action="@{/quiz/{quizId}/questions/{questionId}/answers/edit/{id}(
                  quizId=${quizId}, questionId=${questionId}, id=${answerOption.id})}" th:object="${answerOption}"
            method="post">
            <label for="answerOptionBody">Answer Option</label>
            <input type="text" name="answerOptionBody" th:field="*{answerOptionBody}" />
            <label for="correct">Correct</label>
            <input type="checkbox" id="correct" th:field="*{correct}" /></br>
            <input type="submit" value="Save" class="submit" />
        </form>

        <a th:href="@{/quiz/{quizId}/questions/{questionId}/answers(quizId=${quizId}, questionId=${questionId})}"><button
                class="controlls">Back</button></a>

    </div>
</body>

</html>