<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <h1>Quizzes</h1>
    <div>
    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created Date</th>
            <!--Empty th elements keep width of thead same as tbody
            for styling reasons-->
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quiz : ${quiz}">
            <td th:text="${quiz.name}"></td>
            <td th:text="${quiz.description}"></td>
            <td th:text="${quiz.createdDate}"></td>
            <td>
                <form th:action="@{/quiz/delete/{id}(id=${quiz.id})}" method="post">
                    <button type="submit" class="warning">Delete</button>
                </form>
            </td>
            <td><a th:href="@{/edit/{id}(id=${quiz.id})}"><button>Edit</button></a></td>
            <td><a th:href="@{/question/{id}(id=${quiz.id})}"><button class="secondary">View Questions</button></a></td>
        </tr>
        </tbody>
    </table>
    <p><a href="/addquiz"><button>Add a quiz</button></a></p>
    </div>
</body>
</html>