<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <h1>Quizzes</h1>
    <div>
    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created Date</th>
            <th>Question</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>View Questions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quiz : ${quiz}">
            <td th:text="${quiz.name}"></td>
            <td th:text="${quiz.description}"></td>
            <td th:text="${quiz.createdDate}"></td>
            <!--Sole reason for line below is to see easily if the question actually got added-->
            <td th:text="${quiz.questions[0].questionBody}"></td>
            <td>
                <form th:action="@{/quiz/delete/{id}(id=${quiz.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td><a th:href="@{/edit/{id}(id=${quiz.id})}">Edit</a></td>
            <td><a th:href="@{/quiz/{id}/questions(id=${quiz.id})}">View Questions</a></td>
        </tr>
        </tbody>
    </table>
    <p><a href="/addquiz">Add a new quiz</a></p>
    </div>
</body>
</html>