<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes</title>
</head>
<body>
    <h1>Quizzes</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created Date</th>
        </tr>
        
        <tr th:each = "quiz : ${quiz}">
    		<td th:text="${quiz.name}"></td>
            <td th:text="${quiz.description}"></td>
            <td th:text="${quiz.createdDate}"></td>
        </tr>
    </table>
</body>