<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer Options</title>
</head>

<body>
    <h2>Answer Options for Question: <span th:text="${question.questionBody}"></span></h2>
    <div>
        <ul>
            <li th:each="answerOption : ${answerOptions}">
                <span th:text="${answerOption.answerOption}"></span> - <span th:text="${answerOption.correct ? 'Correct' : 'Incorrect'}"></span>
            </li>
        </ul>
    </div>
    <p><a th:href="@{/quiz/{id}/questions(id=${question.quiz.id})}">Back to Questions</a></p>
</body>
</html>